<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="./output.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="counter" class="font-bold text-lg text-red-600">Counter: 0</div>

    <button
      hx-get="/hx/add-one"
      hx-target="#counter"
      hx-swap="outerHTML"
      class="rounded-full bg-blue-600 text-white px-2 py-1"
    >
      Add 1
    </button>

    <button
      hx-get="/hx/reset"
      hx-target="#counter"
      hx-swap="outerHTML"
      class="rounded-full bg-blue-600 text-white px-2 py-1"
    >
      Reset
    </button>
  </body>
</html>
